@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

$main-font: "Lexend Deca", sans-serif;
$sub-font: "Big Shoulders Display", cursive;
$primary: hsla(0, 0%, 100%, 0.75);
$secondary: hsl(0, 0%, 95%);
$highlight1: hsl(31, 77%, 52%);
$highlight2: hsl(184, 100%, 22%);
$highlight3: hsl(179, 100%, 13%);

// font size 15px
